@CHARSET "UTF-8";

#chkth{
	width : 22px;
}
#userth{
	width : 60px;
}
#contentth{
	width : 200px;
}
#dateth{
	width : 80px;
}
#fileth{
	width : 60px;
}
#readth{
	width : 60px;
}
td{
	
	text-align: center;
	
}
#listtable{
	
	width : 600px;
	table-layout: fixed;
	
}
.content{
	text-overflow: ellipsis; overflow: hidden;white-space: nowrap;
}
#mouseover{
	width : 110px;
	border: 1px solid black;
	background: white;
}
