<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Fire">
	<resultMap type="FireVO" id="ResultFire">
		<result property="classify" column="CLASSIFY" />
		<result property="fireNo" column="FIRE_NO" />
		<result property="fireById" column="FIRE_BY_ID" />
		<result property="fireId" column="FIRE_ID" />
		<result property="lev" column="LEV" />
		<result property="commentNo" column="COMMENT_NO" />	
	</resultMap>
	
	<insert id="doChannelContentFire" parameterType="FireVO">
		INSERT INTO FIRE VALUES(#{classify}, #{fireNo}, #{fireById}, #{fireId}, 0, 0)
	</insert>
	
	<select id="getFireArticleList" parameterType="FireVO" resultMap="ResultFire">
		SELECT *
		FROM FIRE
		WHERE CLASSIFY = #{classify}
		AND FIRE_ID = #{fireId}
		AND FIRE_BY_ID = #{fireById}
	</select>
	
	<select id="getfireList" parameterType="FireVO" resultMap="ResultFire">
		SELECT *
		FROM FIRE
		WHERE CLASSIFY = #{classify}
		AND FIRE_BY_ID = #{fireById}
	</select>
	
	<delete id="cancelChannelContentFire" parameterType="FireVO">
		DELETE FIRE
		WHERE CLASSIFY = #{classify}
		AND FIRE_NO = #{fireNo}
		AND FIRE_ID = #{fireId}
		AND FIRE_BY_ID = #{fireById}
	</delete>
	
	<select id="getFireCommentList" parameterType="FireVO" resultMap="ResultFire">
		SELECT *
		FROM FIRE
		WHERE CLASSIFY = #{classify}
		AND FIRE_BY_ID = #{fireById}
	</select>
	
	<insert id="fireComment" parameterType="FireVO">
		INSERT INTO FIRE VALUES(#{classify}, #{fireNo}, #{fireById}, #{fireId}, #{lev}, #{commentNo})
	</insert>
	
	<delete id="fireCommentCancel" parameterType="FireVO">
		DELETE FIRE
		WHERE CLASSIFY = #{classify}
		AND FIRE_NO = #{fireNo}
		AND FIRE_ID = #{fireId}
		AND FIRE_BY_ID = #{fireById}
		AND COMMENT_NO = #{commentNo}
	</delete>
	
</mapper>