<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Message">
	
	<resultMap id="messagemap" type="MessageVO">
		<id property="message_no" column="MESSAGE_NO" />
		<result property="send_id" column="SEND_ID" />
		<result property="receivie_id" column="RECEIVE_ID" />
		<result property="content" column="CONTENT" />
		<result property="message_date" column="MESSAGE_DATE" />
		<result property="filepath" column="FILEPATH" />
		<result property="mes_req_del" column="MES_REQ_DEL" />
		<result property="mes_res_del" column="MES_RES_DEL" />
		<result property="classify" column="CLASSIFY" />
		<result property="read_check" column="READ_CHECK" />
		<result property="user_name" column="USER_NAME" />
	</resultMap>

	<select id="readlist" resultMap="messagemap" parameterType="string">
		select send_id,RECEIVE_ID, CONTENT,MESSAGE_DATE,FILEPATH,MES_REQ_DEL,MES_RES_DEL,CLASSIFY, READ_CHECK,MESSAGE_NO, user_name "user_name"        from message 
			join member on(send_id = user_id)
			where RECEIVE_ID = #{userid} and MES_RES_DEL = 'N' 
			and (RECEIVE_ID, send_id) not in (select * from MESSAGESPAM where receive_id = #{userid})
			order by message_no desc
	</select>
	
	<select id="listcount" resultType="int" parameterType="string">
		select count(*) from message where RECEIVE_ID = #{userid} and MES_RES_DEL = 'N'
	</select>
	
	<select id="sendlist" resultMap="messagemap" parameterType="string">
		select * from message where SEND_ID = #{userid} and MES_REQ_DEL = 'N' order by message_no desc
	</select>
	
	<select id="sendlistcount" resultType="int" parameterType="string">
		select count(*) from message where SEND_ID = #{userid} and MES_REQ_DEL = 'N'
	</select>
	
	<select id="spaminsert" parameterType="int">
		{call
			jun_PRO_SPAMINSERT(#{no})
		}
	</select>
	
	<update id="resivedel" parameterType="int">
		update message set MES_RES_DEL = 'Y' where MESSAGE_NO = #{no}
	</update>
	
	<select id="seachlistcount" parameterType="MsglistVO">
		{call
			JUN_PRO_MSGSEACHLISTCOUNT(#{loginid},#{select},#{seach})
		}
	</select>
	
<!-- 	<select id="selectmap" resultMap="messagemap" resultType="MessageVO" parameterType="string">
		select * from message where RECEIVE_ID = #{userid}	
	</select> -->
</mapper>